<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
  <display-name>EventCalender</display-name>

  <welcome-file-list>
    <welcome-file>/WEB-INF/views/login.jsp</welcome-file>
  </welcome-file-list>

  <jsp-config>
    <jsp-property-group>
      <description>header and footer settings</description>
      <url-pattern>/*</url-pattern>
      <include-prelude>/WEB-INF/views/header.html</include-prelude>
      <include-coda>/WEB-INF/views/footer.html</include-coda>
    </jsp-property-group>
  </jsp-config>
</web-app>
